*, *::after, *::before {
  margin: 0;
  padding: 0;
  width: 100%;

  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: #212121;
  height: 100%;

  padding: 1rem;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  line-height: 1.5rem;
  margin: 1rem 0;
}

a {
  font-weight: bold;
}


/* COMPLETION PAGES */

.register-complete-page h1 {
  margin: 0 0 2rem 0;
}

.register-complete-page p {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}


/* REGISTER AND LOGIN PAGES */

.register-page,
.register-complete-page,
.login-page {
  width: 35%;

  /* Sources:
      https://css-tricks.com/centering-css-complete-guide/
      https://css-tricks.com/almanac/properties/t/transform/
  */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  border: 1px solid #A2A2A2;
  border-radius: 0.375rem;
  padding: 1.5rem;
}

form p {
  margin: 0 0 2rem 0;
  font-weight: bold;  /* Ensure that form input is not bolded. */
}

form input {
  border-radius: 0.25rem;
  font-family: Helvetica, sans-serif;
}

form input[type=text],
form input[type=password] {
  border: 1px solid #A2A2A2;
  padding: 0.75rem;
  margin: 0.5rem 0 0 0;

  font-size: 1.5rem;
  color: #212121;
}

form input[type=submit] {
  border: 1px solid #6CB881;
  padding: 1.5rem;
  margin: 1.5rem 0 0 0;

  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #6CB881;
  transition: background-color 0.5s ease-out;
}

form input[type=submit]:active,
form input[type=submit]:hover,
form input[type=submit]:focus {
  background-color: #8EC99E;
  border-color: #8EC99E;
  transition: background-color 0.5s ease-out;
}
