main
    .explore-slideshow 
        grid-column-start 1
        grid-column-end 10

        .explore-container 
            padding-top 20%
            padding-bottom 20%
            display flex
            text-align center
            align-items center
            justify-content space-between

        .explore-slide
            text-align center

            .explore-font-tags-container
                display flex
                justify-content center

            
                .explore-font-tags
                    margin 1em
                    padding 0.7em 1em
                    display flex
                    align-items center
                    border-radius: 0.4em;
                    border 0.05em solid grey
                    
                    h6
                        font-family Fanwood
                        font-style italic

                    img
                        width auto
                        height 0.6em
                        margin-right 0.5em


.explore-slidecontainer
    margin-top 1em
    padding 1em
    border 0.05em solid grey


footer
    border-top 1px solid black
           
.test
    color blue

.explore-nav
    border-bottom 1px solid black

    img
        margin-right 2em
        margin-left 2em