main
    .explore-slideshow 
        grid-column-start 1
        grid-column-end 8

.test
    color blue

.explore-nav
    border-bottom 1px solid black

    img
        margin-right 2em
        margin-left 2em