html, body
    margin 0
    padding 0
    background #FAFAEE


nav
    width 100%
    padding 1.5em 1em
    display flex
    justify-content space-between
    align-items center
    background #FAFAEE

main
    margin-left 3vw
    margin-right 3vw
    display grid
    grid-template-columns repeat(8, 1fr)
    gap 1rem

    .filter-searchbar
        margin-top 1em
        grid-column-start 1
        grid-column-end 9
        
        input::-webkit-input-placeholder 
            font-family Barlow
            font-weight 400
            color lightgrey
            font-size 1.1em


    input[type=text]
        width 100%
        padding-top 1.5em
        padding-bottom 1.5em
        background: #fafaee
        border-bottom 0.05em solid #8E8E8E
        outline none
        font-family Barlow
        font-weight 400
        color black
        font-size 1.3em
        

    form
        input[type=checkbox]
            margin-bottom 0.7em 
            border-radius 1em 

        label  
            font-family Barlow
            font-weight 300  
            font-size 0.8em
            color grey

    .filter-primary
        grid-column-start 1
        grid-column-end 2

    .filter-secondary
        grid-column-start 2
        grid-column-end 4

    .filter-tags   
        grid-column-start 5
        grid-column-end 9

        .filter-tags-draggable
            border: 0.05em dotted #8e8e8e

    
    .filter-container
        grid-column-start 1
        grid-column-end 9
        margin-top 2em
        display grid
        grid-template-columns repeat(4, 1fr)
        gap 1rem   

        .filter-font-bookmark
            text-align right 
            margin-top 1em
            margin-right 1em

        .filter-font-block
            // padding 3em 0em 
            border 0.05em solid grey 
            border-radius 0.4em
        
            .filter-font-block-text
                text-align center
                margin 2.5em 0em

                h1
                    margin-top 0.3em
                    margin-bottom 0.3em
                

            .filter-font-tags-container
                display flex
                justify-content center
                margin-bottom 2em

                .filter-font-tags
                    text-align left
                    display flex
                    align-items center
                    padding 0.8em
                    border 0.05em solid grey
                    border-radius 0.2em
                    margin-right 0.3em

                    img
                        width auto
                        height 0.6em
                        margin-right 0.5em

                    h6 
                        font-family Fanwood
                        font-style italic
                        

        span
            font-style italic
                    
// // temp styling for the explore page
// nav
//     .explore-nav
//         border-bottom 1px solid black

//     img
//         margin-right 2em
//         margin-left 2em

    





aside
    grid-column 2/3

.c-block
    background-color #C0DAF2
    display flex
    flex-direction column

.c-block-settings
    display flex
    flex-direction row

.c-block-settings__weight
    padding 1rem
    flex-grow 1
    input
        width 100%
        &::-webkit-slider-thumb
            -webkit-appearance none
            appearance none
            width 25px
            height 25px
            background #C0DAF2
            cursor pointer
        &::-moz-range-thumb
            width 25px
            height 25px
            background #C0DAF2
            cursor pointer
    label
        font-family Epilogue
        font-size .95rem
        font-style normal
        font-weight 300
        line-height 1
        letter-spacing 0em
        text-align center
        margin auto
        display block
    italic
        width 100%

.c-block-settings__italic
    padding 1rem 1rem 1rem 0
    label
        font-family Epilogue
        font-size .95rem
        font-style normal
        font-weight 300
        line-height 1
        letter-spacing 0em
        text-align center
        margin auto
        display block

.switch
    position relative
    display inline-block
    width 2.5rem
    height 1.5rem
    input
        opacity 0
        width 0
        height 0
        &:checked
            & + .i-slider
                background #C0DAF2
                &:before
                    -webkit-transform translateX(1rem)
                    -ms-transform translateX(1rem)
                    transform translateX(1rem)
        &:focus
            & + .i-slider
                box-shadow 0 0 1px #C0DAF2

.i-slider
    position absolute
    cursor pointer
    top 0
    left 0
    right 0
    bottom 0
    background-color #ccc
    -webkit-transition .4s
    transition .4s
    &:before
        position absolute
        content ""
        width 1rem
        left .25rem
        bottom .25rem
        top .25rem
        background-color white
        -webkit-transition .4s
        transition .4s


    .c-block-tester
        input[type="text"]
            width 100%
            border 0
            margin 0
            font-size 3rem

.dropbtn
    background-color transparent
    padding 16px
    font-size 1rem
    border none
    cursor pointer

.dropdown
    position relative
    display inline-block
    img
        width 2rem
    &:hover
        .dropdown-content
            display block

.dropdown-content
    display none
    position absolute
    right 0
    background-color #f9f9f9
    min-width 160px
    box-shadow 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index 1
    a
        color black
        padding 12px 16px
        text-decoration none
        display block
        &:hover
            background-color #f1f1f1