html, body
    margin 0
    padding 0
    background #FAFAEE


nav
    width 100%
    padding 1.5em 1em
    display flex
    justify-content space-between
    align-items center
    background #FAFAEE

main
    margin-left 3vw
    margin-right 3vw
    display grid
    grid-template-columns repeat(8, 1fr)
    max-width 100%
    gap 1rem

    .filter-searchbar
        margin-top 1em
        margin-bottom: 1rem
        grid-column-start 1
        grid-column-end 9
        
        display: grid
        grid-template-columns: 5fr 1fr

        
        input::-webkit-input-placeholder 
            font-family Barlow
            font-weight 400
            color lightgrey
            font-size 1.1em


    input[type=text],input[type=password],input[type="textarea"].member-description
        width 100%
        padding-top 1.5em
        padding-bottom 1.5em
        background: #fafaee
        border-bottom 0.05em solid #8E8E8E
        outline none
        font-family Barlow
        font-weight 400
        color black
        font-size 1.3em
        

    form
        input[type=submit]
            background: #fafaee
            border solid .5px #808080
            &:hover
                background: darken(#fafaee,15%);
            font-size: 1.5rem
            font-family: "Barlow"
            font-weight: 300 
            border-top-right-radius: .75rem
            border-bottom-right-radius: .75rem
            // margin-bottom: .5rem

        &.filter-form
            grid-column: 1/9
            max-width 100%
            h5
                margin-top: 1rem 
        input[type=checkbox]
            // margin-bottom 0.7em 
            // display none

        label  
            display inline-block
            margin .15em
            padding .3em
            border-radius .5em 
             
            font-family Barlow
            font-weight 300  
            font-size 0.8em
            color grey
        
        .filter-secondary,.filter-primary
            input[type=checkbox]
                display: none
            input[type=checkbox] ~ label
                background: #fafaee
                border solid .5px #808080
            input[type=checkbox]:checked ~ label, input[type=checkbox]:hover ~ label
                background: darken(#fafaee,15%);

                // display: none
            


    .filter-primary
        grid-column-start 1
        grid-column-end 5

    .filter-secondary
        grid-column-start 5
        grid-column-end -1

    .filter-tags   
        grid-column-start 5
        grid-column-end 9

        .filter-tags-draggable
            border: 0.05em dotted #8e8e8e

    
    #filter-container
        grid-column-start 1
        grid-column-end 9
        margin-top 2em
        display grid
        grid-template-columns repeat(4, 25%)
        gap 1rem   

        .filter-font-block
            border 0.05em solid grey 
            border-radius 0.4em
            
            color: black; /* blue colors for links too */
            text-decoration: none; /* no underline */
            
            .filter-font-bookmark
                display flex
                justify-content space-between
                align-items center
                margin-top 1em
                margin-right 1em
                text-decoration: none; /* no underline */

                .filter-font-bookmark-row
                    display flex

                    input[type=checkbox]
                        margin-bottom 0em
                        margin-right 0.5em
                        text-decoration: none; /* no underline */

        
            .filter-font-block-text
                text-align center
                margin 2.5em 0em
                text-decoration: none
                h1
                    margin-top 0.3em
                    margin-bottom 0.3em
                    text-decoration: none
                

            .filter-font-tags-container
                overflow: auto
                white-space nowrap
                display grid
                grid-template-columns: repeat(auto, auto) 
                grid-template-rows: 1fr
                // justify-content center
                margin-bottom 2em
                max-width 100%
                text-decoration: none

                .filter-font-tags
                    text-align left
                    grid-row 1/2   
                    grid-column-start: span 1
                    // display inline
                    align-items center
                    padding 0.8em
                    border 0.05em solid 
                    border-radius 0.2em
                    margin-right 0.3em
                    display: flex
                    flex-wrap: nowrap

                    img
                        width auto
                        height 0.6em
                        margin-right 0.5em

                    h6    
                        word-wrap none
                        font-family Fanwood
                        font-style italic
                        

        span
            font-style italic
                    
// // temp styling for the explore page
// nav
//     .explore-nav
//         border-bottom 1px solid black

//     img
//         margin-right 2em
//         margin-left 2em

    





aside
    grid-column 2/3

.c-block
    background-color #C0DAF2
    display flex
    flex-direction column

.c-block-settings
    display flex
    flex-direction row

.c-block-settings__weight
    padding 1rem
    flex-grow 1
    input
        width 100%
        &::-webkit-slider-thumb
            -webkit-appearance none
            appearance none
            width 25px
            height 25px
            background #C0DAF2
            cursor pointer
        &::-moz-range-thumb
            width 25px
            height 25px
            background #C0DAF2
            cursor pointer
    label
        font-family Epilogue
        font-size .95rem
        font-style normal
        font-weight 300
        line-height 1
        letter-spacing 0em
        text-align center
        margin auto
        display block
    italic
        width 100%

.c-block-settings__italic
    padding 1rem 1rem 1rem 0
    label
        font-family Epilogue
        font-size .95rem
        font-style normal
        font-weight 300
        line-height 1
        letter-spacing 0em
        text-align center
        margin auto
        display block

.switch
    position relative
    display inline-block
    width 2.5rem
    height 1.5rem
    input
        opacity 0
        width 0
        height 0
        &:checked
            & + .i-slider
                background #C0DAF2
                &:before
                    -webkit-transform translateX(1rem)
                    -ms-transform translateX(1rem)
                    transform translateX(1rem)
        &:focus
            & + .i-slider
                box-shadow 0 0 1px #C0DAF2

.i-slider
    position absolute
    cursor pointer
    top 0
    left 0
    right 0
    bottom 0
    background-color #ccc
    -webkit-transition .4s
    transition .4s
    &:before
        position absolute
        content ""
        width 1rem
        left .25rem
        bottom .25rem
        top .25rem
        background-color white
        -webkit-transition .4s
        transition .4s


    .c-block-tester
        input[type="text"]
            width 100%
            border 0
            margin 0
            font-size 3rem
