/* loading IBM Plex Sans */
@font-face {
  font-family: IBM-Plex-Sans;
  src: url("../assets/font/IBM/IBMPlexSans-SemiBold.ttf");
  font-weight: 900;
}


/* loading Barlow */
@font-face {
  font-family: Barlow;
  src: url("../assets/font/Barlow/Barlow-Black.ttf");
  font-weight: 900;
}

/* loading Epilogue */
@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Epilogue;
  src: url("../assets/font/Epilogue/Epilogue-Thin.ttf");
  font-weight: 100;
}

/* HEADINGS */
h1 {
  font-family: Barlow;
  font-size: 2.6em;
  font-weight: 900;
}
h2 {
  font-family: Barlow;
  font-size: 2.2em;
  font-weight: 400;
}
h3 {
  font-family: Epilogue;
  font-size: 1.5em;
  font-weight: 500;
}
h4 {
  font-family: Epilogue;
  font-size: 1.3em;
  font-weight: 500;
}
h5 {
  font-family: Epilogue;
  font-size: 0.9em;
  font-weight: 300;
}
h6 {
  font-family: Epilogue;
  font-size: 0.8em;
  font-weight: 200;
}

p {
  font-family: Epilogue;
  font-size: 0.75em;
}

a {
  font-family: Epilogue;
  font-size: 1em;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: IBM-Plex-Sans;
  color: black;
}
