body {
  /* background-color: lightblue; */
}
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #FAFAEE;
  margin: 0em 7em;
}

#title-container {
  margin-top: 4em;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 0;
  grid-row-end: 1;
}

#main-container {
  margin-right: 4em;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tab {
  display: flex;
  flex-grow: 10;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: solid black 1px;
}

button > h5 {
  margin-top: 1em;
  margin-right: 3em;
}

#attributes-container {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.font {
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
}

.font > input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-family: Epilogue;
  font-size: 4em;
  background-color:#FAFAEE;
  padding: 1em 0px;
}

/* attribute rows styling */
.border-top {
  border-top: solid black 1px;
}

.designers-row {
  margin-top: 1em;
}

.sizing-attributes {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.description-row {
  align-items: center;
}

.contributor-img-size {
  width: 2.2em;
}

.tag-styling {
  padding: 0.5em;
  border-radius: 0.2em;
  border: solid black 1px;
}
