main
    .explore-slideshow 
        grid-column-start 1
        grid-column-end 10
        height: 90vh
        flex-direction: column
        display: flex  
        .explore-container 
            flex-grow 1
            // position fixed
            bottom 0
            // flex-grow: 3
            padding-top 15%
            padding-bottom 15%
            height 100%
            display flex
            text-align center
            align-items center
            justify-content space-between

        .explore-slide
            text-align center

            .explore-font-tags-container
                display flex
                justify-content center

                .explore-font-tags
                    margin 1em
                    padding 0.7em 1em
                    display flex
                    align-items center
                    border-radius: 0.4em;
                    border 0.05em solid grey
                    
                    h6
                        font-family Fanwood
                        font-style italic

                    img
                        width auto
                        height 0.6em
                        margin-right 0.5em
            
            .button
                margin-top 1em
                margin-right 1em
                padding 1em 3em
                border-radius 2em

                font-family Barlow
                font-weight 300
                background-color #3F45EF
                color white


.explore footer
    min-height: initial 
    height: initial
    display flex
    justify-content space-between
    margin-bottom 1em

    .explore-nav-container
        display flex

        .explore-slidecontainer
            margin-top 1em
            padding 1em
            border 0.09em solid lightgrey
            border-radius 0.4em
            margin-right 1em
            display flex
            justify-content center

            label
                font-size 0.8em
                font-family Barlow
                font-weight 100
                font-style italic
                margin-right 2em

        button
            margin-top 1em
            padding 1em 4em
            border-radius 0.4em
            border 0.1em solid lightgrey
            background-color #FAFAEE
            color black

            font-family Barlow
            font-weight 500
            font-style italic

    input[type="submit"]
        margin-top 1em
        margin-right 1em
        padding 1em 3em
        border-radius 2em

        font-family Barlow
        font-weight 300
        background-color #3F45EF
        color white


.explore-container 
    position relative       
        
.explore-slide
    display none


body.explore footer
    border-top 1px solid black
           
.test
    color blue

.explore-nav
    border-bottom 1px solid black

    img
        margin-right 2em
        margin-left 2em