.userpage-profile-container
    display flex
    justify-content center
    grid-column-start 1
    grid-column-end 4

    .userpage-profile-image-contents
        margin-left 2em

        p
            margin-left 2em
            line-height 1.1em
            width 30em

        button 
            margin-top 1em
            padding 1em 4em
            border-radius 0.4em
            border 0.1em solid lightgrey
            background-color #FAFAEE
            color black

            font-size 0.8em
            font-family Barlow
            font-weight 100
            font-style italic
            margin-right 2em

    img 
        width 5em
        height auto

.userpage-profile-description
    grid-column-start 4
    grid-column-end 7

.userpage-button-container
    grid-column-start 8
    grid-column-end 9
    display flex
    flex-direction column

    button
        padding 1em 4em
        border-radius 0.4em
        border 0.1em solid lightgrey
        background-color #FAFAEE
        color black

        font-size 0.8em
        font-family Barlow
        font-weight 100
        font-style italic


.userpage-font-block-container
    grid-column-start 1
    grid-column-end 9
    border-bottom 0.1em solid lightgrey

    button
        margin 1em 1em
        background-color #FAFAEE
        color black

        font-size 0.8em
        font-family Barlow
        font-weight 600

.filter-container
        grid-column-start 1
        grid-column-end 9
        margin-top 2em
        display grid
        grid-template-columns repeat(4, 25%)
        gap 1rem   

.userpage-preferences
    grid-column-start 1
    grid-column-end 9
    display grid
    grid-template-columns repeat(4, 25%)
    gap 3em

    div
        grid-column-start 1
        grid-column-end 2
    
    .descriptor
        grid-column-start 1
        grid-column-end 2

    form 
        grid-row: 1
        grid-column-start 2
        grid-column-end 4

        p
            display flex
            align-items center
            flex-wrap wrap
            
            input[type='checkbox']
                margin-left 1em
                margin-right 0.5em

        input[type='submit']
            margin-top 1em
    


    
